# Folders
venv/
models/

# Jupyter Notebooks - drafts
jupyter_notebooks/lesson_4.2.ipynb
jupyter_notebooks/lesson_5.1.ipynb
jupyter_notebooks/lesson_5.2.ipynb
jupyter_notebooks/lesson_6.1.ipynb
jupyter_notebooks/lesson_6.2.ipynb
jupyter_notebooks/lesson_7.1.ipynb
jupyter_notebooks/lesson_7.2.ipynb
jupyter_notebooks/lesson_8.1.ipynb
jupyter_notebooks/lesson_8.2.ipynb
jupyter_notebooks/lesson_9.1.ipynb
jupyter_notebooks/lesson_9.2.ipynb
jupyter_notebooks/lesson_10.1.ipynb
jupyter_notebooks/lesson_10.2.ipynb
jupyter_notebooks/lesson_11.1.ipynb
jupyter_notebooks/lesson_11.2.ipynb

jupyter_notebooks/lesson_x.x.ipynb

# Datasets
datasets/mall_customers_k-means.csv

# Course work support (samples)
jupyter_notebooks/course_work_cnn_.ipynb